@import '../../shared/styles/index';

$vertical-spacer: 20px;

.showForPortrait {
  display: block !important;
}

.showForLandscape {
  display: none !important;
}

.page {
  // -webkit-overflow-scrolling: touch;
  // color: $accentPrime;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // background: white;
  // overflow: auto;
  // box-sizing: border-box;
  // position: fixed;
  // overflow-x: hidden;
  // top: 0;
  // width: 100vw;
  // z-index: 2;

  .scheduler {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 100%;
    background-color: $accentSecondary;
  }

  .cta {
    width: 100%;
    font-size: 18px;
    height: 80px;
    // border-radius: 5px 50px 50px 5px;
    background: rgba(white, 1);
    // background: linear-gradient(45deg, #9d418b 0%, #d3306c 80%);
    // margin: 0 0 7px 0;
    // color: white;
    border-width: 0 0 1px 0;
    border-color: black;
    border-radius: 0;
    border-style: solid;
    padding: 0 0 0 7px;
    font-size: 15px;
    white-space: nowrap;

    &:hover {
      background: rgba(black, 0.05);
    }

    &:active {
      background: rgba(black, 0);
    }

    :global {
      .MuiTouchRipple-child {
        background-color: $accentSecondary;
      }
    }

    svg {
      flex-shrink: 0;
    }
  }
}

.spacer {
  height: 8vh;
  flex-shrink: 0;
}

.contactForm {
  display: flex !important;
  flex-direction: column;

  .textField {
    width: 100%;
    margin-bottom: 40px;

    :global {
      .MuiFormHelperText-root {
        position: absolute;
        bottom: -25px;
      }

      .MuiFilledInput-root {
        background: rgba(black, 0);
      }

      input,
      .MuiFilledInput-multiline {
        padding: 14px 12px;
      }
    }
  }
}

h1,
h2 {
  margin: 0;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 34px;
  line-height: 1.35em;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin-bottom: 10vh;
}

h2 {
  margin-bottom: 5vh;
  font-size: 30px;
  font-weight: 100;
}

.sendBtn {
  width: 100%;
  height: 50px;

  &:disabled {
    pointer-events: none;
  }

  svg {
    height: 32px;
    margin-left: 10px;
  }

  .btnTxt {
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
  }
}

textarea {
  line-height: 1.5em !important;
}

:global {
  .calendly-inline-widget {
    height: calc(100% - 100px) !important;
    width: 100vw;
    padding-top: 0;
    box-sizing: border-box;
  }
}

@media (min-width: 785px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 34px;
  }
}

@media (min-width: 1280px) {
  // .page {
  //   .bleed {
  //     padding-top: 70px;
  //     padding-left: 7vw;
  //     padding-right: 7vw;
  //   }
  // }

  .showForPortrait {
    display: none !important;
  }

  .showForLandscape {
    display: block !important;
  }

  .spacer {
    height: 8vh;
  }

  .sendBtn {
    display: none !important;
  }

  .shareLink {
    height: 100%;

    :global {
      .MuiInputBase-root {
        padding: 45px 24px;
        height: 100%;
      }

      textarea {
        text-align: center;
      }
    }

    fieldset {
      border-style: dashed;
      border-color: rgba($accentPrime, 0.1);
      border-width: 4px;
      transition: 0.75s $ease;
    }
  }

  p {
    font-size: 18px;
  }

  :global {
    .calendly-inline-widget {
      padding-top: 0;
      height: 646px !important;
      padding-bottom: 66px;
      box-sizing: content-box;
      // transform: translateY(-50px);
    }
  }

  .actionBox {
    margin-top: -5px;
  }

  .scheduler {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linkBox {
    height: 100%;
  }
}
