@import '../../shared/styles/index';

.showForPortrait {
  display: block !important;
}

.showForLandscape {
  display: none !important;
}

.contactForm {
  display: flex !important;
  flex-direction: column;
  width: 100%;

  .textField {
    width: 100%;
    margin-bottom: 40px;

    :global {
      .MuiFormHelperText-root {
        position: absolute;
        bottom: -25px;
      }

      .MuiFilledInput-root {
        // background: rgba(black, 0.03);
        background: rgba(black, 0);
        // background: rgba(white, 1);
      }

      input,
      .MuiFilledInput-multiline {
        padding: 14px 12px;
      }
    }
  }
}

.sendBtn {
  width: 100%;
  height: 50px;
  margin-top: 7px !important;

  &:disabled {
    pointer-events: none;
    // opacity: 0.5;
  }

  svg {
    height: 32px;
    margin-left: 10px;
  }

  .btnTxt {
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
  }
}

textarea {
  line-height: 1.5em !important;
}

@media screen and (orientation: landscape) {
  @media (min-width: 1025px) {
    .showForPortrait {
      display: none !important;
    }

    .showForLandscape {
      display: block !important;
    }

    .sendBtn {
      margin-top: 28px !important;
    }
  }
}
