@import '../../shared/styles/index';

.bleed {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 5vw 136px;

  // &.xs {
  // }

  // &.sm {
  // }

  &.lg {
    padding: #{$navHeight * 1.5} 7vw $navHeight;
  }

  &.xl {
    padding: #{$navHeight * 1.5} 15vw $navHeight;
  }
}
