@import '../../shared/styles/index';

.landscapeBlocker {
  width: 100vw;
  height: 100%;
  position: fixed;
  background: $accentSecondary;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 10;
}

.fakeNav {
  background: black;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSVG {
  & > * {
    line-height: 0;
  }
  svg {
    height: 20px;
  }
}
