@import '../../shared/styles/index';

.navBar {
  // width: 100vw;
  height: $navHeight;
  box-sizing: border-box;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 $spacer;
  z-index: 1;

  .logo {
    @extend %fadeIn;

    .logoSVG {
      height: 100%;
    }

    svg {
      // fill: white;
      height: 23px;
      width: auto;
    }
  }

  .navBtn {
    padding-left: #{$spacer / 2};
    padding-right: #{$spacer / 2};
  }
}
