@import '../../shared/styles/index';

.footer {
  background-color: $accentPrime;
  width: 100vw !important;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
  color: white;
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
  line-height: 1.5em;

  a {
    color: $accentSecondary;
  }

  .divider {
    color: $accentSecondary;
    margin: 0 7px;
    flex-grow: 0;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 0 5vw;
  }

  .boxLeft {
    justify-content: flex-start !important;
  }

  .boxRight {
    justify-content: flex-end !important;
  }
}

@media (max-width: 1279px) {
  .footer {
    font-size: 12px;
    padding: 0 5vw;
  }

  .boxLeft {
    margin-bottom: 10px;
  }
}
