@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'ubuntu';
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    font-weight: 300;
    -webkit-overflow-scrolling: touch;
    cursor: url('/images/cursor/cursor.svg'), auto;
  }

  #__next {
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-left: 5px solid rgba($accentPrime, 1);
  }

  h2 {
    line-height: 1.6em;
  }

  p {
    margin: 0;
  }

  ::placeholder {
    font-style: italic;
  }

  input,
  textarea {
    cursor: url('/images/cursor/cursor-text.svg'), auto !important;
  }

  .MuiButtonBase-root {
    cursor: url('/images/cursor/cursor-pointer.svg'), auto !important;
  }
}

.app {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.stage {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  // background: $accentSecondary;
}

a {
  color: $accentPrime;
  text-decoration: none;
}

.art {
  width: 50vw;
  height: 94vh;
  object-fit: contain;
  // top: 0;
  // left: 0;
  // position: absolute;
}

.logo {
  object-fit: contain;
  position: fixed;
  top: $spacer;
  left: $spacer;
}

.contentBox {
  // background-color: rgba(green, 0.1);
  // height: 80vh;
  width: 50vh;
  position: fixed;
  left: 50vw;
  top: 44vh;
  transform: translateY(-50%);

  img {
    width: 100%;
    margin-bottom: $spacer;
  }

  .email {
    fieldset {
      border-radius: 0;
    }
  }

  .submit {
    height: 100%;
    border-radius: 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  background-color: rgba(yellow, 0.1);
}

.registered,
.ce {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -38px;
}

.ce {
  bottom: 0;
  transform: translateY(-50%);
}

.registered {
  transform: translateY(80%);
}

.headerTop {
  font-size: 18px;
  line-height: 36px;
  font-weight: 100;
  text-transform: capitalize;
}

.headerBotom {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 400;
}

.mims {
  position: relative;
  width: 525px;
}

.body {
  font-size: 20px;
  line-height: 1.5em;
  margin-top: $spacer;
}
