@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'ubuntu';
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;
    width: 100vw;
    height: 100%;
    position: absolute;
    font-weight: 300;
    -webkit-overflow-scrolling: touch;
    cursor: url('/images/cursor/cursor.svg'), auto;
  }

  #__next {
    height: 100%;
  }

  h2 {
    line-height: 1.6em;
  }

  p {
    margin: 0;
  }

  ::placeholder {
    font-style: italic;
  }

  input,
  textarea {
    cursor: url('/images/cursor/cursor-text.svg'), auto !important;
  }

  .MuiButtonBase-root,
  a {
    cursor: url('/images/cursor/cursor-pointer.svg'), auto !important;
  }
}

.app {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  background-color: #f1f5f8;
}

.stage {
  overflow: hidden;
  width: 100vw;
  height: 100%;

  &.mobile {
    padding-top: 90vw;
    height: auto;
    overflow-y: auto;
  }
}

a {
  color: $accentPrime;
  text-decoration: none;
}

.art {
  width: calc(50vw - 40px);
  height: calc(100vh - 100px);
  object-fit: cover;

  &.mobile {
    width: 90vw;
    height: 90vw;
    margin-top: 3 * $spacer;
    margin-bottom: 1.5 * $spacer;
    mix-blend-mode: darken;
    max-height: 85vh;
    max-width: 85vh;
    left: 0;
    top: 0;
    position: fixed;
  }
}

.logo {
  position: fixed;
  top: $spacer;
  left: $spacer;
  z-index: 1;

  &.mobile {
    height: 20px;
    top: 2.5 * $spacer;
    left: 2.5 * $spacer;
    // position: static;
  }
}

.ceLogo {
  position: fixed;
  top: $spacer;
  right: $spacer;

  &.mobile {
    height: 20px;
    top: 2.5 * $spacer;
    right: 2.5 * $spacer;
  }
}

.contentBox {
  width: 50vh;
  position: fixed;
  left: 50vw;
  top: 44vh;
  transform: translateY(-50%);

  &.mobile {
    position: static;
    left: unset;
    top: unset;
    transform: unset;
    width: #{100vw - (5 * $spacer)};
    margin-left: 2.5 * $spacer;
    margin-bottom: 2 * $spacer;
  }

  img {
    width: 100%;
    margin-bottom: $spacer;
  }

  .email {
    background-color: #f7eae7;

    input::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    fieldset {
      border-radius: 0;
      border: none;
    }

    &.mobile {
      height: 45px;

      fieldset {
        height: 45px;
        margin: 0;
        top: 0;
      }

      input {
        height: 45px;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }

  .textBox {
    &.mobile {
      margin-top: 2 * $spacer;
    }
  }

  .submit {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
    min-width: 0;

    svg {
      width: 34px;
    }

    &.mobile {
      height: 45px;
    }
  }

  .errorMsg {
    font-size: 14px;
    color: #ff4f26;
    opacity: 0;
    transition: 1s $ease;

    &.show {
      opacity: 1;
    }

    svg {
      width: 23px;
      margin-left: 10px;
    }
  }

  .errTxt {
    transform: translateY(2px);
  }
}

.footer {
  position: fixed;
  top: calc(100vh - 100px);
  width: 100vw;
  height: 100px;
  text-align: center;
  color: #07003c;
  font-size: 15px;
  line-height: 2em;

  a {
    display: inline;
    text-decoration: underline;
  }

  .pipe {
    margin: 0 10px;
  }

  &.mobile {
    position: static;
    margin-bottom: 5 * $spacer;
    height: auto;
  }
}

.registered,
.ce {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -38px;
}

.ce {
  bottom: 0;
  transform: translateY(-50%);
}

.registered {
  transform: translateY(80%);
}

.headerTop {
  font-size: 18px;
  line-height: 36px;
  font-weight: 100;
  text-transform: capitalize;
}

.headerBotom {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 400;
}

.mims {
  position: relative;
  width: 525px;
}

.body {
  font-size: 20px;
  line-height: 1.5em;
  margin-top: $spacer;
}
