@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'ubuntu';
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;
    width: 100vw;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    font-weight: 300;
    -webkit-overflow-scrolling: touch;
    cursor: url('/images/cursor/cursor.svg'), auto;
  }

  #__next {
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-left: 5px solid rgba($accentPrime, 1);
  }

  h2 {
    line-height: 1.6em;
  }

  p {
    margin: 0;
  }

  ::placeholder {
    font-style: italic;
  }

  input,
  textarea {
    cursor: url('/images/cursor/cursor-text.svg'), auto !important;
  }

  .MuiButtonBase-root {
    cursor: url('/images/cursor/cursor-pointer.svg'), auto !important;
  }
}

.app {
  width: 100vw;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
}

.stage {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  // background: $accentSecondary;
}

a {
  color: $accentPrime;
  text-decoration: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 22px;
  text-transform: uppercase;
  transition: 2s $ease;

  &.fadeOut {
    opacity: 0;
    pointer-events: none;
  }

  .content {
    @extend %fadeIn;
    animation-duration: 4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($accentPrime, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba($accentPrime, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba($accentPrime, 0);
    }
  }

  .blob {
    background: $accentPrime;
    border-radius: 50%;
    margin: 20px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgba($accentPrime, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
}
