html,
body {
  padding: 0;
  overflow: overlay;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 7px 0;
}

@font-face {
  font-family: "Domaine";
  src: url("/fonts/Domaine-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-left: 10px solid #ff412e;
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  /* scrollbar width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-left: 0px solid #757ce8;
    border-radius: 0;
  }
}